.top{
	height: 85px;
	overflow: hidden;
}
.menu{
	height: 43px;
}
.banner{
	height: 375px;
	background: url(@bgBanner) no-repeat 0 center;
}
.idxView{
	margin-top: 15px;
	height: 170px;
	.intro{
		width: 455px;
	}
	.news{
		width: 325px;
		margin-left: 15px;
	}
	.contact{
		width: 200px;
	}
}
.idxProduct{
	margin-top: 10px;
}
.footer{
	height: 74px;
	background: url(@bgFooter) no-repeat 0 center;
}
