.icon{
	background: url(@bgSprite) no-repeat 0 0;
	width: 16px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.icon-arrow{
	background-position: 0 0;
}
//      - common -
.common-top{
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	.top-right {
		a{
			padding: 0 5px;
		}
	}
	.top-link{
		width: 125px;
		_font-size:28px;
		display: block;
		.child{
			float: left;
		}
		a{
			padding: 0 5px;
			font-size: 12px;
			zoom:1;
		}
		position: relative;
		.sublink{
			display: none;
			line-height: 25px;
			position: absolute;
			right: 0;
			width: 120px;
			top: 34px;
			background: #fafafa;
		}
	}
}
.common-header{
	height: 111px;
	border-bottom: 5px solid @colorLightBlue;
	.header-logo{
		padding: 19px 25px 0 16px;
		margin: 0;
	}
	.header-search{
		padding-top:20px;
		padding-left:12px;
		width: 490px;
	}
	.search-form{
		border:2px solid #CAEFFF;
		height: 37px;
		width: 466px;
	}
	.search-form-kw{
		border:1px solid #3BA4DB;
		padding: 0;
		margin: 0;
		float: left;
		height: 25px;
		padding:5px;
		width: 370px;
	}
	.search-form-btn{
		background: #3BA4DB;
		border: 0 none;
		margin: 0;
		height: 37px;
		line-height: 37px;
		font-family: @fontYahei;
		font-size: 18px;
		width: 84px;
		font-weight: bold;
		color: #fff;
		float: left;
		cursor: pointer;
	}
	.search-hot{
		em{
			font-style: normal;
			color: #DE248F;
		}
		line-height: 25px;
		height: 25px;
		a{
			padding:0 5px;
		}
	}
	.header-ad{
		padding-top: 20px;
	}
}
.common-menu{
	height: 95px;
}
.common-sublink{
	height: 27px;
	line-height: 27px;
	border: 1px solid #d2deec;
	background: #f1fbfd;
	padding:0 8px;
	a{
		color:@colorDarkBlue;
		&:hover{
			color:@colorLink;
		}
	}
	.sublink-cat{
		padding-left:12px;
		font-weight: bold;
		a{
			zoom:1;
		}
	}
	.sublink-city{
		strong, a{
			padding:0 5px;
			zoom:1;
		}
	}
}
.common-twoAd{
	height: 90px;
	overflow: hidden;
}
//      - index -
.index-textAd{
	ul{
		border: 1px solid @colorBorder;
		background: @colorTitleBg;
		margin: 0;
		padding:10px;
	}
	li{
		list-style: none;
		float: left;
		margin-right: 10px;
	}
}
.index-focus{
	.focus-left{
		width: 370px;
	}
	.focus-smalltitle{
		height: 36px;
		line-height: 36px;
		overflow: hidden;
		text-align: center;
		a{
			color: #D9403B;
			font-weight: bold;
			&:hover{
				color: @colorHover;
			}
			font-size: 14px;
		}
	}
	.focus-center{
		width: 380px;
		margin-left:10px;
	}
	.focus-right{
		width: 210px;
	}
	.focus-leftimg{
		padding-top: 12px;
		.item{
			width: 120px;
			margin: 0 22px;
			_display:inline;
		}
	}
	.focus-today{
		background: url(@bgSprite) 0 -16px;
		border-bottom: 1px solid #ccc;
		padding-left: 120px;
		line-height: 38px;
		height: 38px;
	}
	.focus-bigTitle{
		border-bottom: 1px solid #ccc;
		padding-bottom: 8px;
		.big{
			color: #cf0000;
			font-weight: bold;
			font-size: 20px;
			font-family: @fontYahei;
			height: 40px;
			line-height: 40px;
			&:hover{
				color: @colorLink;
			}
		}
		p{
			margin: 0;
			padding: 0;
		}
	}
	.focus-title{
		height: 36px;
		line-height: 36px;
		margin: 0;
		font-size: 14px;
		padding-left: 85px;
	}
	.focus-icon-quote, .focus-icon-guide,.focus-icon-new,.focus-icon-ping{
		background: url(@bgSprite) 0 0 ;
	}
	.focus-icon-quote{
		background-position: 0 -196px;
	}
	.focus-icon-guide{
		background-position: 0 -64px;
	}
	.focus-icon-new{
		background-position: 0 -109px;
	}
	.focus-icon-ping{
		background-position: 0 -154px;
	}
	.focus-mall-cats{
		font-size: 12px;
		margin: 0;
		padding: 0;
		.first-level{
			font-size: 14px;
			font-weight: bold;
			background: url('../images/bgListOrange.jpg') no-repeat 3px 13px;
			padding-left: 12px;
			overflow: hidden;
			line-height: 28px;
		}
		span{
			line-height: 22px;
			display: block;
			a{
				font-size: 12px;
				font-weight: normal;
			}
		}
	}
	.more-link{
		padding:10px;
	}
	.product-all, .brand-all{
		background: url(@bgSprite);
		width: 168px;
		height: 30px;
		display: block;
	}
	.product-all{
		background-position: -6px -265px;
	}
	.brand-all{
		background-position: -6px -305px;
	}
}
.index-special{
	.special-hot{
		width: 760px;
		.hot-left{
			width: 300px;
			img{
				width: 300px;
			}
			a{
				display: block;
			}
			.link{
				height: 26px;
				line-height: 26px;
				text-align: center;
				font-size: 14px;
				font-weight: bold;
				color: @colorRed;
				&:hover{
					color: @colorHover;
				}
			}
		}
		.hot-right{
			width: 415px;
			.item{
				width: 120px;
				padding-right: 18px;
				_display:inline;
				.link{
					line-height: 40px;
					height: 40px;
				}
			}
		}
	}
	.syr-bbs{
		.bbs-cat{
			background: url(@bgSprite);
			padding-left: 67px;
			width: 175px;
			p{
				a{
					display: inline-block;
					word-wrap:normal;
					color: @colorLightBlue;
					&:hover{
						color: @colorHover;
					}
				}
			}
		}
		.cat-life{
			background-position: -6px -346px;
		}
		.cat-old{
			background-position: -6px -445px;
		}
		.cat-tea{
			background-position: -6px -542px;
		}

	}
	.mall-new{
		width: 210px;
	}
}
.index-category{
	.cat-left{
		width: 370px;
		.left-bigThumb{

		}
	}
	.cat-center{
		width: 380px;
		margin-left: 10px;
	}
	.cat-right{
		width: 210px;
	}
	.category-product{
		.suggest-item{
			padding-left: 5px;
		}
		img{
			border: 1px solid #ccc;
		}
		.pro-title{
			line-height: 26px;
			font-size: 14px;
		}
		p{
			line-height: 28px;
			margin: 0;
		}
		.price{
			color: @colorRed;
			font-weight: bold;
			font-family: @fontYahei;
		}
		.pro-buy{
			background: url(@bgSprite);
			background-position: -187px -265px;
			display: inline-block;
			width: 66px;
			height: 21px;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
}
.index-imgList{
	.imgList-content{
		border: 1px solid #ccc;
		padding-bottom:15px;
		.item{
			margin: 15px 21px 0;
			img{
				width: 120;
				height: 90px;
			}
			width: 120px;
			_display:inline;
			text-align: center;
		}
	}
}
.index-hotArticle {
	.article{
		width: 320px;
	}
	.article-center{
		margin-left: 10px;
	}
}
.common-footer{
	background: #EDF2F8;
	a{
		zoom:1;
	}
	.line{
		border-bottom: 1px solid #D0D7DF;
		height: 1px;
	}
	h3{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
		font-family: @fontYahei;
		font-weight: normal;
	}
	.links{
		line-height: 26px;
	}
	.copyright{
		border-top:1px solid #D7D7D9;
		height: 40px;
		line-height: 40px;
		.copyright-line{
			border-top: 1px solid #fff;
		}
	}
}

.channel-top{
	height: 75px;
	border: none;
	.channel-logo-w{
		margin-top: 16px;
	}
	.channel-logo{
		background: url('../images/logo.jpg') no-repeat;
		width: 172px;
		height: 50px;
		display: block;
		float: left;
		line-height: 50px;
		padding-right: 10px;
	}
	.cate{
		display: block;
		line-height: 50px;
		float: left;
		padding-left: 15px;
		font-family: @fontYahei;
		a{
			color: @colorDarkBlue;
			&:hover{
				color:@colorHover;
				border-bottom: 3px solid @colorDarkBlue;
			}
		}
		border-left:1px solid #ccc;
	}
	.search-form{
		margin-top: 19px;
	}
	.channel-toplink{
		padding-top: 30px;
		.toplink{
			background: url(@bgSprite) 0 0 no-repeat;
			width: 18px;
			height: 18px;
			display: inline-block;
			vertical-align: middle;
			padding-right: 5px;
		}
		a{
			zoom:1;
			color: @colorDarkBlue;
			&:hover{
				color: @colorHover;
			}
		}
		.item{
			padding-right: 10px;
		}
		.toplink-mall{
			background-position: -187px -313px;
		}
		.toplink-channel{
			background-position: -250px -313px;
		}
		.toplink-bbs{
			background-position: -314px -313px;
		}
	}
}

.chanel-nav{
	background: #3CA3DD;
	height: 36px;
	line-height: 36px;
	font-family: @fontYahei;
	overflow: hidden;
	ul{
		margin: 0;
		padding: 0;
	}
	li{
		width: 85px;
		float: left;
		list-style: none;
		text-align: center;
		a{
			color: #fff;
			font-weight: bold;
			font-size: 16px;
			&:hover{
				color: @colorHover;
			}
		}
	}
	.line{
		width: 3px;
		background: url("../images/bgChannelNavLine.jpg") 1px 1px no-repeat;
		height: 36px;
	}
}
.channel-mall-suggest{
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	li{
		float: left;
		_display: inline;
		margin-top: 10px;
		margin-left:7px;
		width: 90px;
		height: 64px;
		list-style: none;
		overflow: hidden;
		img{
			width: 88px;
			border: 1px solid #ccc;
		}
		span{
			height: 30px;
			line-height: 30px;
			text-align: center;
			display: block;
		}
	}
}
.channel-list{
	.list-left{
		width: 730px;
		.left-thumbs{
			width: 370px;
			.thumbs-focus{
				border:1px solid #ccc;
			}
		}
		.left-focus{
			width: 330px;
			.focus-big{
				font-size: 18px;
				font-weight: bold;
				color: @colorRed;
				&:hover{
					color: @colorHover;
				}
				line-height: 44px;
				overflow: hidden;
				text-align: center;
				display: block;
				font-family: @fontYahei;
			}
			ul{
				margin: 0;
				font-size: 14px;
				line-height: 26px;
				overflow: hidden;
				padding: 4px 0;
			}
			li{
				list-style: none;
				float: left;
				width: 152px;
				padding-right: 8px;
			}
		}
	}
	.list-right{
		width: 240px;
		.suggest-item{
			padding: 10px 23px;
		}
		img{
			border: 1px solid #ccc;
		}
		.pro-title{
			line-height: 26px;
			font-size: 14px;
			text-align: center;
			display: block;
		}
		p{
			line-height: 28px;
			margin: 0;
		}
		.price{
			color: @colorRed;
			font-weight: bold;
			font-family: @fontYahei;
		}
		.pro-buy{
			background: url(@bgSprite);
			background-position: -187px -265px;
			display: inline-block;
			width: 66px;
			height: 21px;
			vertical-align: middle;
			margin-left: 10px;
		}
	}
	.list-article{
		.article-cat-top{
			padding: none;
			margin: 0;
			padding: 0;
			line-height: 26px;
			font-size: 14px;
			list-style: none;
			border-left:1px solid #ccc;
			border-right:1px solid #ccc;
			height: 28px;
			overflow: hidden;
			background: #3BA3DA;
			li{
				float: left;
				height: 28px;
				width: 103px;
				background:#3BA3DA ;
				text-align: center;
				a{
					color: #fff;
					&:hover{
						color: @colorHover;
					}
				}
			}
			.active{
				height: 26px;
				border-top:2px solid #E3228B;
				background: #fff;
				a{
					color: #000;
					&:hover{
						color: @colorHover;
					}
				}
			}
			.line{
				width: 1px;
				height: 28px;
				background: url("../images/bgChannelNavLine.jpg") -1px 0px no-repeat;
			}
		}
		.article-bigcat{
			color: #E6208F;
			border: 1px solid #ccc;
			border-top: 2px solid #E6208F;
			line-height: 25px;
			padding-left: 25px;
			margin: 0;
		}
	}
	.article-item{
		h3{
			font-family: @fontYahei;
			height: 25px;
			line-height: 25px;
			padding: 14px 0;
			margin: 0 15px;
			border-bottom:1px dotted #ccc;
		}
		.item-cat{
			float: left;
			color: #fff;
			background: #E3228B;
			padding: 0 4px;
			display: inline;
			a{
				color: #fff;
				&:hover{
					color:@colorGrey;
				}
			}
		}
		.item-title{
			padding-left: 15px;
			color: @colorHover;
			&:hover{
				color: @colorGrey;
			}
		}
		.item-comment{
			font-weight: normal;
			font-size: 12px;
			padding-right: 10px;
			font-family: @fontSong;
			em{
				color: @colorLightBlue;
				a{
					color: @colorLightBlue;
				}
			}
		}
		.item-pubinfo{
			padding: 0 15px;
			a{
				color: @colorLightBlue;
				&:hover{
					color: @colorGrey;
				}
			}
		}
		.item-intro{
			padding: 0 15px;
			font-size: 14px;
			font-family: @fontSong;
			line-height: 24px;
		}
		.item-img{
			border:1px solid #ccc;
			padding: 10px;
			display: block;
			margin-right: 14px;
		}
		.item-comResult{
			margin: 1em 0;
			background: #F6F6F6;
			line-height: 30px;
		}
		.item-abc{
			width: 250px;
			background: url("http://www.www.cc/template/tpl/sanhaojie/css/../images/sprite.fw.png") no-repeat 66px -650px;
		}
		.item-start,.item-a, .item-b, .item-c{
			display: block;
			float: left;
			width: 27px;
			padding-left:20px;
		}
		.item-start{
			width: 60px;
		}
		.item-share{
			padding-right: 10px;
		}
		.item-more{
			color: @colorLightBlue;
			&:hover{
				color: @colorGrey;
			}
		}
	}
	.list-pages{
		text-align: center;
	}
	.list-right{
		.right-special{
			font-size: 12px;
			text-align: center;
			padding: 10px;
			a{
				line-height: 25px;
				display: block;
				text-align: center;
			}
			.special-item{
				padding-top: 15px;
				padding-bottom: 10px;
				border-bottom: 1px dotted #ccc;
			}
		}
		.hot-comment {
			font-size: 12px;
		}
		.right-adplace{
			border: 1px solid #ccc;
			padding: 10px;
		}
	}
}
.page-single{
	line-height: 48px;
	.page-position{
		padding-left:15px;
	}
	.page-gomall{
		background: url(@bgSprite) -6px -693px no-repeat;
		padding-left: 36px;
	}
}
.page-main{
	.main-show{
		width: 670px;
		.show-content{
			border: 1px solid #CAD5EB;
			padding:37px;
			h3{
				color: #000;
				text-align: center;
				font-weight: bold;
				font-family: @fontYahei;
				font-size: 24px;
				border-bottom: #E7EBEE 1px solid;
				padding: 15px 0;
			}
			.content-info{
				font-size: 12px;
				color: #666;
				text-align: center;
				margin-left: 0;
				a{
					color: @colorLightBlue;;
					&:hover{
						color:@colorLink;
					}
				}
				.em{
					color: @colorRed;
				}
			}
			.content-ext{
				text-align: center;
			}
			.ext-all, .ext-mall, .ext-comment{
				background: url(@bgSprite);
				display: inline-block;
				padding-right: 3px;
			}
			.ext-all{
				width: 77px;
				height: 21px;
				background-position: -6px -744px;
			}
			.ext-mall{
				width: 103px;
				height: 21px;
				background-position: -86px -744px;
			}
			.ext-comment{
				width: 106px;
				height: 21px;
				background-position: -192px -744px;
			}
			.content-inner{
				padding:10px 0;
			}

			.content-subtitle{
				h3{
					font-size: 14px;
					line-height: 25px;
					padding: 0 0 0 20px;
					text-align: left;
				}
				ul{
					font-size: 12px;
				}
				li{
					float: left;
					width: 275px;
					padding-left: 10px;
				}
			}
		}
		.show-comment{
			border: 1px solid #CAD5EB;
		}
	}
	.main-right{
		width: 300px;
		.special-item{
			a{
				text-align: center;
				display: block;
				line-height: 30px;
			}
			padding-top: 10px;
			border-bottom:1px #ccc dotted;
		}
		.special-item-noborder{
			border-bottom: none;
		}
		.high-imgs{
			img{
				width: 120px;
			}
			.imgs-item{
				margin-left:13px;
				padding-top: 8px;
				line-height: 20px;
				text-align: center;
			}
		}
		.comment-intro{
			line-height: 25px;
			border-bottom: 1px #ccc dotted;
			margin-bottom: 8px;
			span{
				width: 70px;
				display: block;
				float: left;
				padding-left:15px;
			}
		}
	}
}

.special-top{
	border: 10px solid #519DD7;
	background: #519DD7;
	.top-left{
		width: 700px;
	}
	.top-right{
		width: 250px;
		h3{
			background: url(@bgSprite) -5px -782px no-repeat;
			height: 30px;
			margin: 0;
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 3px 10px;
			line-height: 22px;
			background: #FFF;
			font-size: 12px;
		}
	}
}
.special-list{
	border:1px solid #ccc;
	padding:15px 0;
	.list-item{
		width: 300px;
		_display:inline;
		text-align: center;
		margin-left:20px;
		.item-title{
			line-height: 45px;
		}
		img{
			width: 300px;
		}
	}
}
.special-page{
	border: 1px solid #ccc;
	border-top: 0;
	font-size: 14px;
	padding-left: 15px;
}