//      - common -
.common-top{
	height: 35px;
	line-height: 35px;
	font-size: 12px;
}
.common-header{
	height: 111px;
	border-bottom: 5px solid @colorLightBlue;
}
.common-menu{
	height: 95px;
}
.common-sublink{
	height: 27px;
	line-height: 27px;
	padding:0 8px;
	a{
		color:@colorDarkBlue;
		&:hover{
			color:@colorLink;
		}
	}
	.iLeft{
		font-weight: bold;
	}
}
.common-twoAd{
	height: 90px;
	overflow: hidden;
}
//      - index -
.index-textAd{
	ul{
		border: 1px solid @colorBorder;
		background: @colorTitleBg;
		margin: 0;
		padding:10px;
	}
	li{
		list-style: none;
		float: left;
		margin-right: 10px;
	}
}
.index-footer{
	background: #EDF2F8;
	.line{
		border-bottom: 1px solid #D0D7DF;
		height: 1px;
	}
	h3{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
		font-family: @fontYahei;
		font-weight: normal;
	}
	.links{
		line-height: 26px;
	}
}