.appTab{
	height: 29px;
	background: url(@bgAppTab) repeat-x 0 -71px;
	line-height: 29px;
	li{
		float: left;
		height: 29px;
		margin-left: 5px;
		a{
			display: inline-block;
			height: 29px;
			padding-left: 20px;
			background: url(@bgAppTab) repeat-x 0 -33px;
			color:@lightBlue;
			&:hover{
				color: @hoverColor;
			}
		}
		span{
			display: inline-block;
			height: 29px;
			width: 20px;
			background: url(@bgAppTab) repeat-x right -33px;
		}
	}
	.active{
		a{
			background-position: 0 0;
		}
		span{
			background-position: right 0;
		}
	}
}
.appTitle{
	background: url(@bgAppTitle) no-repeat right 0;
	height: 30px;
	h3, h4{
		display: inline-block;
		background: url(@bgAppTitle) no-repeat 0 0;
		padding-left: 2em;
		height: 30px;
		line-height: 30px;
	}
}
.appIdx{
	.focus{

	}
	.focus-left{
		float: left;
		width: 283px;
		border: 1px solid #ccc;
	}
	.focus-center{
		border:1px solid #ccc;
		background:#f8f8f8;
		float: left;
		margin-left: 13px;
		width: 420px;
		.content{
			padding:5px;
		}
		.firstFocus{
			border-bottom:1px dashed #ccc;
			.cat{
				width: 37px;
				height: 30px;
				line-height: 30px;
				background: url(@bgFocusTitleCat) no-repeat 0 0;
				display: inline-block;
				padding-right: 15px;
				font-size: 12px;
				color: #fff;
				font-weight: normal;
				padding-left: 5px;
			}
			h3{
				padding-top: 7px;
				height: 30px;
				line-height: 30px;
				a{
					color: #CA0002;
					&:hover{
						color: @hoverColor;
					}
				}
			}
			.info{
				line-height: 22px;
				text-indent: 2em;
				.more{
					color: #EE721C;
					&:hover{
						color: @linkColor;
					}
				}
			}
		}
		.infolist{
			padding:5px 0;
			.listGreyDot{
				li{
					font-size: 12px;
					line-height: 22px;
					height: 22px;
					width: 183px;
					float: left;
					padding-right: 10px;
				}
			}
		}
	}
	.focus-right{
		width: 230px;
		float: right;
	}
	.appFocusSuggest{
		padding: 5px 0;
		.item{
			margin-left: 10px;
			width: 65px;
			float: left;
			overflow: hidden;
			height: 90px;
			img{
				width: 65px;
			}
			span{
				display: block;
				text-align: center;
				height: 24px;
				line-height: 24px;
				overflow: hidden;
			}
		}
	}
	.ad{
		margin-top: 8px;
	}
}
.suggestToday{
	margin-top: 8px;
	.content{
		padding: 10px;
		.item{
			float: left;
			width: 216px;
			margin-left: 18px;
			padding: 10px 0;
			img{
				float: left;
				width: 65px;
				padding-right: 10px;
			}
			h4{
				line-height: 22px;
				height: 22px;
				overflow: hidden;
			}
			span{
				display: block;
				height: 22px;
				line-height: 22px;
				color: #8a8a8a ;
			}
		}
	}
}
.catSuggest{
	.items{
		padding: 10px;
	}
	.item{
		width: 83px;
		padding: 10px 15px;
		float: left;
		height: 100px;
		overflow: hidden;
		img{
			width: 83px;
		}
		span{
			display: block;
			height: 25px;
			line-height: 25px;
			text-align: center;
			color: @lightBlue;
			&:hover{
				color: @hoverColor;
			}
		}
	}
}
.appCatWrap{
	margin-top: 8px;
}
.appIcon{
	background: url(@bgAppIcon) no-repeat 0 0;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	width: 25px;
}
.appIconWp{
	background-position: 0 0;
}
.appIconAndriod{
	background-position: -25px 0;
}
.appIconMac{
	background-position: -50px 0;
}