.resetBrowser();
.resetProjectFont(@fontFamily, @fontSize, @fontColor);
.resetProjectLink(@linkColor, @hoverColor);
.commonClassGen();
body{
	background:#fff url(@bgBody) repeat-x 0 0;
	.minHeight(1000);
}
.layout{
	width:960px;
	margin:0 auto;
	.col-list-left{
		width: 690px;
		float: left;
	}
	.col-list-right{
		float: right;
		width: 260px;
	}

	.col-main-left{
		float: left;
		width: 715px;
	}
	.col-main-right{
		float:right;
		width:240px;
	}
	.col-product-left{
		float: left;
		width: 760px;
	}
	.col-product-right{
		float: right;
		width: 190px;
	}

	.col-app-left{
		width: 750px;
		float: left;
	}
	.col-app-right{
		width: 200px;
		float: right;
	}
}

.mt8{
	margin-top: 8px;
}
.aLightBlue(){
	color: @lightBlue;
	&:hover{
		color: @linkColor;
	}
}
// ul use 
.listSubleft{
	background: url(@bgListSubLeft) no-repeat 0 0 ;
	line-height: 32px;
	padding-right: 10px;
	li{
		height: 32px;
		.ellipsis();
	}
	.num{
		display: inline-block;
		width: 43px;
		text-align: center;
		color: #fff;
	}
}

.listBigCat{
	line-height: 25px;
	font-size: 14px;
	li{
		.ellipsis();
		a{
			padding:0 10px;
		}
	}
	.iCat{
		a{
			color:@hoverColor;
			&:hover{
				color:@linkColor;
			}
		}
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}

}

.listBlackDot{
	font-size: 14px;
	li{
		padding-left: 10px;
		background: url(@bgListBlackDot) no-repeat left center ;
		line-height: 30px;
		height: 30px;
		overflow: hidden;
	}
}

.listGreyDot{
	font-size: 14px;
	li{
		padding-left: 10px;
		background: url(@bgListBlackDot) no-repeat left center ;
		line-height: 30px;
		height: 30px;
		overflow: hidden;
		.time{
			float: right;
			padding-left: 10px;
		}
	}
}

.listBlueDot{
	font-size: 14px;
	li{
		padding-left: 10px;
		background: url(@bgListBlueDot) no-repeat left center ;
		line-height: 30px;
		height: 30px;
		overflow: hidden;
		a{
			color: @lightBlue;
			&:hover{
				color: @linkColor;
			}
		}
	}
	
}
.listProductMore{
	background: url(@bgListProduct) no-repeat 0 0 ;
	padding-left: 32px;
	.bigItem{
		height: 139px;
		.title{
			display: block;
			height: 28px;
			line-height: 28px;
			overflow: hidden;
		}
		img{
			border:1px solid #ccc;
		}

	}
	.normal{
		height: 30px;
		line-height: 30px;
		overflow: hidden;
	}
	.bnormal{
		height: 35px;
		line-height: 35px;
		overflow: hidden;
	}
}
.listBignum{
	background: url(@bgListBignum) no-repeat 0 -7px ;
	padding-left:42px;
	li{
		height: 73px;
		.title{
			line-height: 24px;
			height: 24px;
			overflow: hidden;
			color:@darkBlue;
			display: block;
			&:hover{
				color: @linkColor;
			}
		}
		img{
			float: right;
			border: 1px solid #CCCCCC;
			width: 60px;
			height: 60px;
			padding:2px;
		}
		.intro{
			padding-top:5px;
			color: #CCCCCC;
		}
	}
}
.listNum{
	background: url(@bgListNum) no-repeat 0 3px;
	padding-left:32px;
	li{
		height: 32px;
		line-height: 32px;
		overflow: hidden;
		a{
			color: @lightBlue;
			&:hover{
				color:@linkColor;
			}
		}
	}
}
.listRoundNum{
	background: url(@bgListRoundNum) no-repeat 0 0px;
	li{
		height: 31px;
		line-height: 31px;
		overflow: hidden;
		padding-left:32px;
		border-bottom: 1px dashed #ccc;
		a{
			color: @darkBlue;
			&:hover{
				color:@linkColor;
			}
		}
	}
}
.listAppDown{
	background: url(@bgListApp) no-repeat 0 0px ;
	padding-left:32px;
	.bignum{
		height: 66px;
		img{
			float: left;
			height: 60px;
			width: 60px;
			margin:3px 5px;
		}
		.title{
			display: block;
			color: @darkBlue;
			&:hover{
				color:@linkColor;
			}
			height: 25px;
			line-height: 25px;
		}
		p{
			line-height: 22px;
			height: 22px;
			margin:0;
		}
	}
	li{
		height: 26px;
		line-height: 26px;
	}
}

//  title
.titleGrey{
	height: 29px;
	line-height: 29px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #ccc;
	padding-left: 15px;
	background: #F8F8F8;
	color:@lightBlue;
	a{
		color:@lightBlue;
		&:hover{
			color: @linkColor;
		}
	}
}
.titleOrange{
	line-height: 32px;
	height: 32px;
	background: #EE721C;
	color: #fff;
	padding-left: 2em;
	margin-top: 8px;
}
.titleTab{
	height: 29px;
	padding-left: 10px;
	background: url(@bgtitleTab) no-repeat 0 0;
	span{
		background: url(@bgtitleTabRight) no-repeat right 0;
		display: inline-block;
		height: 28px;
		line-height: 28px;
		color: #fff;
		font-family: @fontMinor;
		padding-right: 10px;
		font-size: 14px;
		font-weight: bold;
	}
}
.wrapGrey{
	border:1px solid #ccc;
	border-top: none;
	padding:5px 8px;
}
.wrapOrange{
	border: 1px solid #EE721C;
	border-top: none;
	padding:5px 8px;
}
.position{
	line-height: 30px;
	height: 30px;
	color: #333;
	a{
		color: #333;
		&:hover{
			color: @hoverColor;
		}
	}
	.cutter{
		padding:0 8px;
	}
}


.selection{
	border-top: 1px solid #BDD8ED;
	border-left: 1px solid #BDD8ED;
	line-height: 27px;
	margin-top: 8px;
	dl{
		border:1px solid #BDD8ED;
		border-top:0;
		border-left: 0;
		background: #F4F9FD;
		margin: 0;
	}
	dt{
		width: 75px;
		float: left;
		text-align: center;
		line-height: 35px;
	}
	dd{
		background: #fff;
		margin-left: 75px;
		padding: 7px;
		padding-left: 50px;
		position: relative;
		a{
			padding:0 5px;
			color: @lightBlue;
			display: inline-block;
			white-space: nowrap;
			line-height: 27px;
			span{
				color: #333;
			}
		}
		.iAll{
			position: absolute;
			width: 45px;
			text-align: center;
			top: 0;
			left: 0;
			line-height: 20px;
			padding-top: 10px;
		}
		.active{
			background: #ff801f;
			display: inline-block;
			height: 22px;
			line-height: 22px;
			color:#fff;
			&:hover{
				color:#ccc;
			}
			span{
				color: #fff;
			}
		}
	}
	.iCustomPrice{
		display: inline-block;
	}
	.customPrice,
	.customPriceActive{
		background: url(@bgCustomPrice) no-repeat 0 0;
		width: 84px;
		height: 20px;
		display: inline-block;
		padding:0;
		margin:0 5px;
		position: relative;
		top: 5px;
	}
	.customPriceActive{
		background-position: 0 -20px;
	}
	
}

.searchList{
	margin-top: 8px;
	.iContent{
		border:1px solid #ccc;
		.titleGrey{
			border: none;
			border-bottom: 1px solid #CCC;
		}
	}
	.iOrderAPage{
		padding:10px;
	}
	.iOrder{
		width: 435px;
		float: left;
		line-height: 24px;
		height: 24px;
		a{
			background: url(@bgPage) no-repeat -40px -36px;
			width: 91px;
			height: 24px;
			text-align: center;
			display: inline-block;
		}
		.active{
			background-position: -40px -6px;
			color: #fff;
		}
	}
	.iShorPage{
		float: right;
		line-height: 24px;
		height: 24px;
		text-align: right;
	}
	.iItem{
		width:205px;
		float: left;
		padding-left: 20px;
		.img{
			display: block;
			padding-left: 10px;
			img{
				width: 185px;
			}
		}
		.title{
			display: block;
			color: @lightBlue;
			&:hover{
				color:@hoverColor;
			}
			line-height: 30px;
			height: 30px;
			overflow: hidden;
			font-weight: bold;
			font-size: 14px;
		}
		.price{
			display: block;
			color:@darkRed;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
		}
		.desc{
			margin:4px 0;
			height: 44px;
			line-height: 22px;
			overflow: hidden;
			color: #999;
		}
		.comment{
			height: 22px;
			line-height: 22px;
			overflow: hidden;
			text-align: center;
			display: block;
			color: @lightBlue;
			&:hover{
				color:@hoverColor;
			}
		}
		.others{
			text-align: center;
			a{
				background: url(@bgPage) no-repeat -174px -6px;
				width: 34px;
				height: 23px;
				line-height: 23px;
				text-align: center;
				font-size: 12px;
				display: inline-block;
				margin-right: 5px;
			}
			.compare{
				color: #f00;
				&:hover{
					color:@linkColor;
				}
			}
			
		}
	}
	.listPages{
		text-align: center;
	}
	.newPhone{
		padding: 3px 5px;
	}
	.adSide{
		margin-top: 8px;
	}
	.userCommentWrapper{
		margin-top: 8px;
	}
	.userComments{
		padding: 3px 10px;
	}
}

.page{
	padding: 10px 0;
	a{
		border: 1px solid #FFB35D;
		background: #FFF6DD;
		display: inline-block;
		height: 20px;
		line-height: 22px;
		padding:0 5px;
		&:hover{
			border:1px solid #ccc;
		}

	}
	.prev, .next, .prevDisabled,.nextDisabled{
		border:1px solid #fff;
		background-image: url(@bgPage);
		display: inline-block;
		width: 60px;
		height: 24px;
		line-height: 24px;
		span{
			visibility: hidden;
		}
		&:hover{
			border:1px solid #fff;
		}
	}
	.current{
		border: 1px solid @lightBlue;
		background: #fff;
	}
	.prev{
		background-position: -110px -71px; 
	}
	.next{
		background-position: -110px -101px; 
	}
	.prevDisabled{
		background-position: -40px -71px; 
	}
	.nextDisabled{
		background-position: -40px -101px; 
	}
}

.header{
	.top{
		.singleLine(27);
		a{padding:0 10px;}
		overflow: hidden;
	}
	.qilu{
		height: 68px;
		.logo{
			width: 145px;
			float: left;
		}
		.menu{
			width: 800px;
			float: right;
			.iContent{
				float: left;
				position: relative;
				padding-left:10px;
				padding-right: 5px;
				a{
					padding-right: 10px;
				}
				.iLine{
					display: inline-block;
					height: 35px;
					border-left:1px solid #ccc;
					width: 1px;
					position: absolute;
					top: 16px;
					right:0;
				}
			}
			i{
				color:#c00;
				font-style: normal;
				&:hover{
					color:#f00;
				}
			}
		}
	}

	.sdinfo{
		height: 76px;
		.logo{
			float: left;
			width: 188px;
		}
		.search{
			float: left;
			width: 500px;
			height: 75px;
			background: url(@bgSearch) no-repeat 0 0 ;
			position: relative;
			ul{
				height: 37px;
				line-height: 37px;
				position: absolute;
				top:20px;
			}
			 li {
			 	font-size: 16px;
			 	float: left;
			 }
			 .sel{
			 	width: 38px;
				padding-left: 10px;
				padding-right: 32px;
				text-align: center;
			 }
			 .searchInput{
			 	border:none;
			 	height: 20px;
				padding: 5px;
				width: 344px;
			 }
			 .searchButton{
				text-align: center;
				width: 66px;
				display: inline-block;
				color: #fff;
				&:hover{
					color:#000;
				}

			 }
		}
		.hot{
			 width: 178px;
			float: left;
			line-height: 75px;
			height: 75px;
			padding: 0 8px;
			strong{
				color:#00f;
				font-weight: normal;
			}
		}
		.fav{
			width: 50px;
			float: left;
			padding-top: 18px;
			line-height: 20px;
			a{
				display: inline-block;
			}
		}
	}
}
.nav{
	height: 35px;
	font-size: 14px;
	font-family: '微软雅黑', Arial, '宋体';
	li{
		float: left;
		height:35px;
		line-height: 35px;
	}
	a{
		color:#fff;
		display: inline-block;
		padding:0 15px;
		&:hover{
			color:#000;
		}
	}
	.line{
		background: url(@bgMenu) no-repeat 0 0 ;
		width: 9px;
	}
}


.friendLink{
	margin-top: 8px;
	border: 1px solid #ccc;
	.linkTitle{
		height: 32px;
		a{
			display: inline-block;
			padding:0 20px;
			height: 32px;
			line-height: 32px;
			border-right: 1px solid #ccc;
			font-weight: normal;
			font-family: @fontMinor;
			position: relative;

		}
		.active{
			border-bottom: 1px solid #fff;
		}
		border-bottom: 1px solid #ccc;
	}
	.linkContents{
		padding:10px 19px;
		li{
			a{
				color: #656565;
				&:hover{
					color: @hoverColor;
				}
			}
			width: 102px;
			overflow: hidden;
			float: left;
			line-height: 23px;
			height: 23px;
		}
	}
}
.sdinfoBottom{
	margin-top: 8px;
}