// .resetProjectFont(@fontFamily, @fontSize, @fontColor);
@fontFamily : "PT Sans", "Helvetica Neue", Helvetica, Arial, '宋体';
@fontMinor  : '微软雅黑', 'Arial', '宋体';
@fontSize : 12px;
@fontColor: #000;

// .resetProjectLink(@linkColor, @hoverColor);
@linkColor: #5a5a5a;
@hoverColor: #FD7B03;
@darkBlue:#003365;
@darkRed:#CB0200;

// background: url(@bgSearch) no-repeat 0 0 ;
@bgBody: '../images/bgBody.jpg';
@bgSearch: '../images/bgSearch.jpg';
@bgMenu: '../images/bgMenu.jpg';
@bgSelectPhone: '../images/bgSelectPhone.jpg';
@bgSelectPhoneTitle: '../images/bgSelectPhoneTitle.gif';
@bgListSubLeft: '../images/bgListSubLeft.jpg';
@bgListBlackDot: '../images/bgListBlackDot.jpg';
@bgTradeIsp: '../images/bgTradeIsp.jpg';
@bgCatTitle: '../images/bgCatTitle.jpg';
@bgBuyButton: '../images/bgBuyButton.jpg';
@bgListProduct: '../images/bgListProduct.jpg';
@bgListBignum: '../images/bgListBignum.jpg';
@bgMenuNarrow: '../images/bgMenuNarrow.jpg';
@bgSoftSuggest: '../images/bgSoftSuggest.jpg';
@bgListApp: '../images/bgListApp.jpg';